:root{
    --cor-de-fundo: #effaef;
    --cor-secundaria: #8EB69B;
    --cor-fonte: #051F20;
    --cor-header: #0b2b26;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mona Sans', serif;
    font-size: 1.25rem;
    background-color: var(--cor-de-fundo);
}

header{
    top: 0;
    height: 130px;
    width: 100%;
    position: fixed;
    background-color: var(--cor-header);
    display: flex;
    z-index: 1000;
    transition: height 0.3s ease, padding 0.3s ease;
    justify-content: space-around;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
li{
    width: 100%;
}
a{
    text-decoration: none;
    line-height: 1.75rem;
    color: var(--cor-secundaria);
    display: block;
    font-size: 1.25rem;
}
h1{
    color: var(--cor-secundaria);

}
footer{
    height: 130px;
    background-color: var(--cor-header);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--cor-secundaria);
    font-size: 0.75rem;
    margin-top: 150px;
}
main{
    position: absolute;
    top: 130px;
}
#submodal{
    padding-top: 150px;
}
#modal{
    padding-top: 150px;
}
.menu{
    padding: 10px;
    width: 45%;
}
header h1{
    width: 55%;
    margin: auto 10px;
}
p{
    width: 75%;
    text-align: center;
    margin: auto;
}
#img_bike1{
    border-radius: 15px;
    width: 80%;
    margin: 50px auto 25px;
    display: block;
}
#img_bike1_left{
    display: none;
}
#img_bike1_right{
    display: none;
}
h2, h3{
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.imagem_carrossel{
    width: 100%;
}
#video_know{
    border-radius: 15px;
    width: 80%;
    margin: 50px auto 25px;
    display: block;
}
.container{
    text-align: center;
    margin: auto;
    background-color: var(--cor-secundaria);
    border-radius: 15px;
    padding: 20px 0;
    width: 80%;
    border: 2px solid var(--cor-header);
}
.table_img{
    height: 22vw;
    border-radius: 5px;
}
.texto_modal{
    padding: 2px;
}
.container_quadro{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
    border: 2px solid var(--cor-header);
    background-color: var(--cor-secundaria);
}
.seta{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seta img{
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}
#img_sub_mtb, #img_sub_speed, #img_bike_mtb, #img_bike_speed{
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}
.quadro_bike{
    width: 100%;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    
}
.quadro{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    cursor: pointer;
}
#texto_sub_mtb, #texto_sub_speed, .modal_bike{
    font-weight: bold;
    
}
.caixas{
    width: 100%;
}
#descricao_speed, #descricao_mtb{
    display: none;
    padding: 10px;
    background-color: var(--cor-secundaria); 
}
.mapa{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.mapa img{
    width: 100%;
    height: auto;
}
.area{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vw;
    font-weight: bold;
}
.area p{
    font-size: 0.65rem;
    text-align: center;
    line-height: 5vw;
    color: var(--cor-secundaria);
    width: 100%;
    padding: 0 5px;
}
#susp_dt{
    left: 68%;
    top: 23%;
}
#freio{
    left: 79.31%;
    top: 58%;
}
#susp_tr{
    left: 15%;
    top: 30.33%;
}
#central{
    left: 38.68%;
    top: 70.55%;
}
#relacao{
    left: 15%;
    top: 75%;
}
#janela{
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1001;
    position: fixed;
    align-items: center;
    justify-content: center;
}
#externa{
    width: 85%;
    background-color: gray;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: auto;
    
}
#interna{
    border-radius: 15px;
    background-color: white;
    width: 90%;
    height: 95%;
    display: block;
    justify-content: center;
}   
.componente{
    top: 0;
    width: 100%;
    height: 50%;
    margin: auto;
    justify-content: center;
}
#info{
    height: 50%;
    width: 100%;
    text-align: center;
    align-items: baseline;
}
.componente img{
    height: 100%;
    border-radius: 15px;
    margin: auto;
    display: block;
}
#uti_comp{
    height: 90%;
    font-size: 1rem;

}
#p_fechar{
    position: absolute;
    top: 0;  
    right: 0; 
    font-size: 1.5rem;
    color: red; 
    z-index: 1002;
    width: 10%;
    cursor: pointer;
    border-radius: 100%;
}
#bike{
    padding-bottom:;
}




@media (min-width: 768px){
    #nome_comp{
        font-size: 1.5rem;
    }
    #bike{
        padding-top: 125px;
    }
    #submodal{
        padding-top: 100px;
    }
    #modal{
        padding-top: 100px;
    }
    #p_fechar:hover{
        background-color: red;
        color: black;
    }
    #p_fechar{
        width: 2vw;
        height: 2vw;
        top: 2.5%;
        right: 2.5%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    #info{
        width: 70%;
        height: auto;

        
    }
    .componente{
        border-right: 2px solid var(--cor-header);
        width: 30%;
        height: auto;
    }
    .componente img{
        width: 100%;
        height: auto;

    }
    #interna{
        width: 98%;
        height: 98%;
        display: flex;
        align-items: center;
    }
    .area p{
        font-size: 1rem;
        line-height: 3vw;
    }
    .area{
        height: 3vw;
    }
    #susp_dt{
        left: 65%;
        top: 15%;
    }
    #freio{
        left: 70%;
        top: 55%;
    }
    #susp_tr{
        left: 24%;
        top: 20%;
    }
    #central{
        left: 42.5%;
        top: 70.55%;
    }
    #relacao{
        left: 27%;
        top: 75%;
    }
    .mapa img{
        width: 70%;
    }
    #modal{
        padding-bottom: 50px;
    }
    .texto_modal{
        margin: 10px;
    }
    .table_img{
        height: 20vw;
        border-radius: 5px;
    }
    .container{
        width: 80%;
        margin: auto;
        border-radius: 15px;
        margin-bottom: 50px;
    }
    #video_know{
        width: 50%;
    }
    .menu ul{
        display: flex;
        justify-content: center;
    }
    .menu{
        width: 75%;
        margin: auto;
        margin-bottom: 20px;
    }
    header h1{
        width: 25%;
        margin-bottom: 20px;
        text-align: center;
    }
    .menu li {
        width: auto;
        margin: 0 3vw;
        position: relative; 
        transition: filter 0.3s ease;
        font-size: 1.25rem;
    }
    .menu ul li:hover {
        filter: brightness(1.5);
    }
    footer{
        font-size: 1rem;
    }
    .menu li::after{
        content: ""; 
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px; 
        background-color: var(--cor-secundaria); 
        transition: width 0.4s ease; 
    }
    .menu li:hover::after{
        width: 100%;
    }
    h2, h3{
        text-align: justify;
        margin-left: 5%;
    }
    #img_bike1{
        width: 35%;
        z-index: 10;
        position: relative;
    }
    #img_bike1_left, #img_bike1_right{
        z-index: 9;
        display: block;
        border-radius: 15px;
        width: 30%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 0.5s ease, left 0.5s ease, right 0.5s ease;
    }
    #img_bike1_left {
        left: 30%;
    }
    
    #img_bike1_right {
        right: 30%; 
    }
    #img_bike1:hover ~ #img_bike1_right, #img_bike1:hover ~ #img_bike1_left{
        opacity: 0.5;
    }  
    .imagem_carrossel{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #img_bike1:hover ~ #img_bike1_right{
        right: 45%; 
    }
    #img_bike1:hover ~ #img_bike1_left{
        left: 45%; 
    }
    #uti_comp{
        font-size: 1.25rem;
    }
    .seta{
        cursor: pointer;
        width: 10%;
    }
    .seta img{
        width: 80%;
    }
    .container_quadro{
        width: 80%;
        margin: auto;
        margin-top: 50px;

    }
    .quadro{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 20px;

    }
    .caixas{
        width: 40%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .quadro_bike, .quadro_bike1{
        width: 100%;
    }
    #img_sub_mtb, #img_sub_speed, #img_bike_mtb, #img_bike_speed{
        width: 100%;
        height: auto;
    }
    header.shrink{
        height: 80px;
        align-items: center;
    }
}

    